h1 {
    background-color: black;
    color: white;
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: white;
    background-color: purple;
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: purple;
    text-align: right;
    background-color: skyblue;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

span {
    color: cyan;
}