<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <style>
        body {
            width: 1000px;
            margin: 0 auto;
            text-align: center;
        }

        .play {
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
        }

        .play div {
            background-color: #9FC5F8;
            border: 2px black solid;
            display: block;
            height: 200px;
            width: 200px;
        }
    </style>
</head>

<body>
    <h1>WELCOME!</h1>

    <div class="play">
        {%for i in range (0,num)%}
        <div></div>
        {%endfor%}
    </div>


</body>

</html>