<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE NEW USER</title>
</head>

<body>
    <form action="/add_user" , method="post">
        <div class="num">
            <label>First Name: </label>
            <input type="text" name="first_name">
        </div>
        <div class="num">
            <label>Last Name: </label>
            <input type="text" name="last_name">
        </div>
        <div class="num">
            <label>Email: </label>
            <input type="text" name="email">
        </div>
        <button>Submit</button>
    </form>
    <button><a href="/">View All</a></button>
</body>

</html>