<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1 style="background-color: {{color1}}; color: {{color2}};">Checkerboard!</h1>
    <table>
        {% for i in range(y) %}
        <tr>
            {% for j in range(x) %}
            {% if (i+j)%2 == 0 %}
            <td style="background-color: {{color1}};"></td>
            {% else %}
            <td style="background-color: {{color2}};"></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>